#header {
  margin-bottom: 40px;
  font-weight: bold;

  .logo {
    max-width: 250px;
  }

  .navbar {
    font-size: 20px;
    .nav-item:hover {
      cursor: pointer;
    }
    .active {
      border-bottom: 1px solid $darker-blue;
    }
    .pull-xs-right {
      margin-top: 50px;
    }
    ul {
      li {
        margin-left: 40px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .logo {
      max-width: 200px;
    }
  }

  @include media-breakpoint-down(sm) {
    .logo {
      max-width: 100px;
      margin-top: 5px;
    }
    .navbar {
      font-size: 18px;
      .pull-xs-right {
        margin-top: 20px;
      }
      ul {
        li {
          margin-left: 30px;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .logo {
      max-width: 100px;
      margin-top: 5px;
    }
    .navbar {
      font-size: 16px;
      .pull-xs-right {
        margin-top: 25px;
      }
      ul {
        li {
          margin-left: 20px;
        }
      }
    }
  }
}
