#header {
  .logo {
    width: 300px;
    height: 160px;
  }

  .navbar {
    font-size: 20px;
    .nav-item:hover {
      cursor: pointer;
    }
    .active {
      border-bottom: 1px solid $darker-blue;
    }
    .pull-xs-right {
      margin-top: 50px;
    }
    ul {
      li {
        margin-left: 40px;
      }
    }
  }
}
