#intro
  .big-logo {
    text-align: center;
    svg {
      margin-top: 15%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #intro > .about {
    display: none;
  }
  #intro > #header {
    display: none;
  }

  .welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;

    .about-intro {
      margin-bottom: 20px;
      font-size: 20px;
    }

    .targets, .society-board {
      margin-top: 10px;
    }
  }

  @-webkit-keyframes welcome {
    from {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
     -webkit-transform: scale(0);
     opacity: 0;
    }
    82.5% {
      -webkit-transform: scale(1.03);
      -webkit-animation-timing-function: ease-out;
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
    }
  }
