#intro
  .big-logo {
    text-align: center;
    svg {
      padding-top: 15%;
      margin-left: auto;
      margin-right: auto;
    }
    :hover {
      cursor: pointer;
    }
  }

  #intro > .about {
    display: none;
  }
  #intro > #header {
    display: none;
  }

  .welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;

    .about-intro {
      padding-top: 40px;
      padding-bottom: 50px;
      font-size: 20px;
      border-bottom: 1px solid transparentize($gray, 0.6);
    }
    .sides {
      // border-top: 1px solid transparentize($gray, 0.6);
      margin-top: 20px;
    }
    .left-side {
      border-right: 1px solid transparentize($gray, 0.6);
    }
    .right-side {
      border-left: 1px solid transparentize($white, 0.6);
    }
    h2 {
      padding: 10px 0 30px 0;
    }
  }

  @-webkit-keyframes welcome {
    from {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
     -webkit-transform: scale(0);
     opacity: 0;
    }
    82.5% {
      -webkit-transform: scale(1.03);
      -webkit-animation-timing-function: ease-out;
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
    }
  }
