@charset "utf-8";

// Colors
$black:       #000000;
$white:       #FFFFFF;
$blue:        #05417D;
$light-blue:  #E8F6FD;
$dark-blue:   #386778;
$darker-blue: #254450;
$gray:        #C0C5CE;
$red:         #9B3739;

$green:       #52c589;
$orange:      #c88d5a;

$font-family: 'Open Sans', sans-serif;
$box-border-radius: 5px;

// Bootstrap variables
$enable-flex:            true;
$body-bg:                $light-blue;
$body-color:             $black;
$brand-primary:          $darker-blue;
$font-family-sans-serif: $font-family;
$font-size-root:         16px;
$btn-primary-color:      $white !default;
$btn-primary-bg:         $dark-blue;
$btn-primary-border:     $white;
$link-hover-color:       $light-blue;
$link-hover-decoration:  none;

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
// @import "bootstrap/tables";
// @import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
// @import "bootstrap/animation";
@import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";

// // Utility classes
@import "bootstrap/utilities";
// @import "bootstrap/utilities-background";
// @import "bootstrap/utilities-spacing";
// @import "bootstrap/utilities-responsive";

// LZAA
@import "header.css.scss";
@import "footer.css.scss";
@import "intro.css.scss";
@import "about.css.scss";
@import "members.css.scss";
@import "contacts.css.scss";

html {
  height: 100%;
}

body {
  background: $light-blue;
  text-align: left;
  font-family: $font-family;
  font-size: 1em;
  position: relative;
  height: 100%;
}

h1 {
  color: $black;
  font-family: $font-family;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: $black;
  font-family: $font-family;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 40px;
  display: inline-block;
}

.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: .9s;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.wrap {
  @include calc(min-height, "100% - 85px");
}

.white-container {
  height: 100%;
  background: $white;
  border-radius: $box-border-radius;
  box-shadow: 2px 2px 8px $gray;
  padding: 10px;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
