<div class="welcome">

  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>

  <h1>Latvijas Zivju Audzētāju Asociācija</h1>

  <!-- <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p> -->

</div>
